

body, html {
  /* max-width: 1278px; */
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

/* HEADER, ICON AND BURGER MENU */

.top-bar {
  position: fixed;
  align-items: center;
  /* top: 0;
  left: 0; */
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  background-color: rgb(255, 255, 255);
  z-index: 999;
  opacity: 0;
  /* transition: opacity 0.3s; */
  transition: background-color 0.3s;
}

/* .top-bar:hover {
  background-color: rgb(255, 255, 255);
} */

#burger-menu {
  position: relative;
  /* top: 22%; */
  right: 4%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 25px;
  opacity: 0;
}

.burger-menu span {
  display: block;
  height: 4px;
  background: black;
  border-radius: 2px;
}

.top-bar #icon {
  position: relative;
  opacity: 0;
  left: 2%;
  height: 100%;
}

/* MAIN IMAGE AND TEXT */

.main-container {
  display: flex;
  height: 75vh;
  flex-direction: row;
}

.main-image-section, .main-text-section {
  width: 50%;
  height: 100%;
}


.main-image-section #main_image {
  position: relative;
  width: 100%;
  height: 100%;
}

.main-text-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-text-section #main_text {
  display: flex;
  /* height: 60%; */
  width: 90%;
  text-align: justify;
  text-overflow: hidden;
  opacity: 1;
  text-wrap: wrap;
}

@keyframes shrinkDiv {
  from {height: 75vh;}
  to {height: 20vh;}
}

@keyframes enlargeDiv {
  from {height: 20vh;}
  to {height: 75vh;}
}

@keyframes shrinkImage {
  from { width: 100%; height: 100%; }
  to { top: 45px; width: 100px; height: 100px; }
}
@keyframes enlargeImage {
  from { width: 100px; height: 100px;}
  to { width: 100%; height: 100%;}
}

@keyframes showHeader {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes hideHeader {
  from {opacity: 1;}
  to {opacity: 0;}
}

@keyframes shrinkText {
  from { width: 90%; opacity: 1; }
  to { opacity: 0; transform: translateY(-250px) translateX(200px); }
}

@keyframes enlargeText {
  from {opacity: 0; transform: translateY(-250px) translateX(200px);}
  to { width: 90%; opacity: 1; transform: translateY(0); }
}



/* EMPLOYEE PRESENTATION */

.box-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgb(95, 23, 35);
  border-width: 3px 0px 3px 0px;
  border-color: black;
  border-style: solid;
}

.box-container #title {
  position: relative;
  top: -170px;
  left: 200px;
}

.box-container .box {
  position: relative;
  top: 100px;
  left: -150px;
  width: 320px;
  height: 320px;
  margin: 38px;
  margin-bottom: 138px;
}

.box-container .box:hover .image-box{
  transform: translate(-100px);
}

.box-container .box:hover .text-box {
  transform: translate(300px, 75px);
  opacity: 1;
}

.image-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  transition: all 0.5s ease-in-out;
}

.image-box img {
  width: 320px;
  height: 320px;
  object-fit: cover;
  resize: both;
}

.text-box{
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  text-align: justify;
  transition: all 0.5s ease;
}

/* MAP INTRO CONTAINER */

.map-intro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2vh;
}

#mapIntroContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

#introTextSection {
  width: 40%;
  text-align: justify;
}

/* PROPERTY CAROUSEL */

.carr-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 40px;
}

.carr{
  background-color: rgb(95, 23, 35);
  width: 900px;
  height: 550px;
  margin: 20px;
  text-align: center;
  border-radius: 20px;
  position: relative;
}

.slides {
  display: flex;
  overflow-x: scroll;
  position: relative;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  height: 95%;
  overflow-x: hidden;  

}

.slide {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  margin-right: 0px;
  box-sizing: border-box;
  transform-origin: center center;
  transform: scale(1);
  scroll-snap-align: center;
}

.info {
  display: flex;
  flex-direction: column;
}

.slide a{
  position: absolute;
  top: 48%;
  width: 35px;
  height: 35px;
  border: solid black;
  border-width: 0 4px 4px 0;
  padding: 3px;
  box-sizing: border-box;
}

.slide-prev {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  left: 2%;
}

.slide-next{
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  right: 2%;
}

.slides-nav {
  box-sizing: border-box;
  position: absolute;
  bottom: 5%;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  text-align: center;
}

.slides-navlink {
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: black;
  margin: 0 10px 0 10px;
}